
<!DOCTYPE html>
<html>
	<head>
		<title> Navprayas </title>
	</head>

	<body>
		
		<h1> Create a Post </h1>
			{% if error %}

			{{ error }}
				<br/>
				<br/>
			{% endif %}

		<form method='POST' action={% url 'create_post_url' %}>
 			{% csrf_token %}
 		<p>Title:
		<input type="text" name="title" size="50"></p>
		<p>Image:
		<input type="file" name="image" ></p>
		<p>Date:
			<input type="date" name="pub_date"></p>
		<p>Description:</p>
		<p><textarea name="description" rows="20" cols="50"> Post descriptions </textarea></p>
		<p><input type="submit" value="Post!!"></p>
		</form>
	</body>
</html>